<h1>Welcome to StudioB</h1>

<p>StudioB is a platform for studio managers, artists, musicians and producers, helping them manage their studio sessions with ease!</p>

<p>To get started please Log In, or <%= link_to "Sign Up", new_user_path %></p>