<h1>Welcome to StudioB</h1>

<% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
<% end %>

<p>StudioB is a platform for studio managers, artists, musicians and producers, helping them manage their studio sessions with ease!</p>

<p>To get started please <%= link_to "Log In", login_path  %>, <%= link_to "Sign Up", new_user_path %> or <%= link_to "Log in with Google", '/auth/google_oauth2' %></p>