<h1>Current Studios on StudioB</h1>

<% @studios.each do |studio| %>
    <img src=<%=studio.picture%> class="studio_index">
    <div><%= link_to studio.name, studio %> - <%= studio.location %></div>
    <br>
<% end %>
